@media only screen and (max-width:1050px) {
    header .menu-list {
        position: absolute;
        top: 70px;
        right: -120%;
        flex-direction: column;
        background: rgb(196, 186, 186);
        width: 400px;
        height: 100vh;
        align-items: flex-start;
        justify-content: flex-start;
    }
    header .menu-list.active {
        right: -20px;
    }
    .search-header input[type="search"] {
        width: 150px;
    }
    .op-m-menu {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
    }
    .dropdown-content {
        padding: 0;
        z-index: 999;
    }
    .dropdown-content div {
        flex-direction: column;
        overflow-y: scroll;
        height: 100vh;
    }
    .dropdown-content .list {
        width: 100%;
    }
    .gategory div .list {
        width: 100%;
    }
    .detail-I {
        flex-wrap: wrap;
    }
    .detail-I img {
        width: 100%;
    }
}

@media only screen and (max-width:980px) {
    .card {
        width: 350px;
    }
}

@media only screen and (max-width:830px) {
    .card {
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
    }
    .card img:first-child {
        width: 100%;
        height: 300px;
    }
}

@media only screen and (max-width:590px) {
    .form-search input {
        width: 400px;
    }
    .new-product-content a,
    .new-trend-content a {
        display: inline-block;
        width: 100%;
    }
    .new-product-item,
    .new-trends-item {
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
    }
}